body {
    background-color: #F6F4F3;

    margin: 0;
    font-family: 'Montserrat', sans-serif; /* Usamos Montserrat como fuente principal */
}

.nav {
    padding: 10px; /* Espaciado interno para que el contenido no esté pegado al borde */
}

.navitems {
    list-style-type: none; /* Quitamos los puntos de lista */
    margin: 0;
    padding: 0;
    display: flex; /* Hacemos que los elementos de la lista se muestren en línea */
    align-items: center; /* Centramos verticalmente los elementos */
}

.logo {
    width: 50px; /* Ancho del logo */
    margin-right: 20px; /* Espaciado a la derecha del logo */
}

.navitems li {
    color: rgb(34, 34, 34); /* Color del texto */
    margin-right: 30px; /* Espaciado entre elementos */
    cursor: pointer; /* Cambiamos el cursor al pasar sobre los elementos */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
   
}

.navitems li:last-child {
    margin-left: auto; /* Empuja el último elemento (Home) a la derecha */
}

.navitems li:hover {
    text-decoration: underline; /* Subrayado del texto al pasar el ratón */
}

/* Deshabilitar eventos en el enlace "Poliglot Dojo" */
.navitems li:nth-child(2) {
    pointer-events: none; /* Deshabilita eventos de ratón y clic */
}

.linea {
    position: absolute;
    top: 8.5%;
    left: 0;
    width: 100%;
    height: 2px; /* Grosor de la línea */
    background-color: #D1C8C1;
    transform-origin: left; /* Origen de la transformación en el extremo izquierdo */
}

@keyframes moverLinea {
    0% {
        transform: scaleX(0); /* La línea empieza sin ancho */
    }
    50% {
        transform: scaleX(1); /* La línea alcanza su ancho máximo */
    }
    100% {
        transform: scaleX(0); /* La línea vuelve a desaparecer */
    }
}

.carrousel {
    margin: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
.carrousel img {
    margin: 40px;
    width: 300px; /* Ancho deseado */
    height: 400px; /* Alto deseado */
    margin-right: 10px; /* Espacio entre imágenes */
    margin-bottom: 10px; /* Espacio entre filas de imágenes */
    object-fit: cover; /* Recorta las imágenes para que se ajusten al tamaño especificado sin distorsionarlas */
    border-radius: 10%;
}


.flag img{
    width: 100px; /* Ancho deseado */
    height: 70px; /* Alto deseado */
    position: absolute;
    justify-content: flex-start;
    display: flex;

    align-items: center;
    margin-top: 0px;
    top: 20%; /* Las banderas se colocarán en la parte superior del contenedor */
    z-index: 1; /* Establecemos un índice z más alto para las banderas */
    margin-right: 10px; /* Espacio entre imágenes */
    margin-bottom: 10px; /* Espacio entre filas de imágenes */
    
}

.textobienvenida {
    display: flex; /* Activa el modelo de caja flexible */
    justify-content: center; /* Centra horizontalmente el contenido */
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.idioma-destacado {
    color: rgb(35, 169, 230); /* o cualquier otro color que desees */
    margin-left: 8px; /* o el espacio deseado */
}

